[Unit]
Description=Exploit Service

[Service]
Restart=always
User=ubuntu
ExecStart=/srv/ctf/env/bin/python /srv/ctf/ctf-pwn/run-flagservice.py

[Install]
WantedBy=default.target