[Unit]
Description=Target Service

[Service]
Restart=always
User=ubuntu
ExecStart=/srv/ctf/env/bin/python /srv/ctf/ctf-pwn/run-targetservice.py
WorkingDirectory=/srv/ctf/

[Install]
WantedBy=default.target
